modules = ["nodejs-20"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Webcam Server"

[[workflows.workflow]]
name = "Webcam Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install express socket.io && node server.js"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80
